# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# Visual Studio
.vs
.vscode

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
build.bat
gradle setup.bat

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
